services:
  proxy:
    image: itzg/mc-proxy:latest
    restart: unless-stopped
    user: "1000:1000"
    group_add:
      - "990"
    healthcheck:
      test: ["NONE"]
    ports:
      - target: 25565
        published: 25565
        protocol: tcp
        mode: host
      - target: 25565
        published: 25565
        protocol: udp
        mode: host
      - target: 19132
        published: 19132
        protocol: tcp
        mode: host
      - target: 19132
        published: 19132
        protocol: udp
        mode: host
    env_file:
      - ./.env
    environment:
      TYPE: "CUSTOM"
      BUNGEE_JAR_FILE: "/config/server.jar"
      VELOCITY_VERSION: "latest"
      MEMORY: "512M"
      USE_AIKAR_FLAGS: "true"
      ICON: "https://github.com/miners-online/.github/blob/main/profile/logos/favicon-64x64.png?raw=true"
      PLUGINS_FILE: /extras/plugins.txt
      # Configs
      REPLACE_ENV_VARIABLES: "TRUE"
      ENV_VARIABLE_PREFIX: "CFG_"
      CFG_FORWARDING_SECRET: ${FORWARDING_SECRET}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/config
      - ./data/plugins.txt:/extras/plugins.txt
      - ./data/forwarding.secret.yml:/config/forwarding.secret.yml
      - ./data/velocity.toml:/server/velocity.toml:rw
    networks:
      - minecraft

networks:
  minecraft:
    external: true
    name: minecraft